.checkout-bill{
    background-color: #fde4e4;
    padding: 30px;
}
.total{
    padding-top: 30px;
    border-top: 1px solid #ddd;
}

@media only screen and (max-width : 768px) {
    
    .checkout-bill h6{
        font-size: 0.9rem;
    }
    .checkout-bill{
        margin-top: 40px;
    }
}