.cart-container{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.639);
}
.cart{
    position: absolute;
    top: 0;
    right: 0;
    width:400px;
    height: 100%;
    z-index: 99999;
    background: #fff;
}
.cart-close{
     padding: 10px 20px;
     width: 100%;
     height:70px;
}

.cart-close span i{
    background: #212245;
    font-size: 1.2rem;
    padding:5px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}
.cart-list-item{
    height: calc(100vh - 130px);
    overflow-y: scroll;
}
.cart-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    padding:5px 20px;
    width: 100%;
    height: 80px;
    background: #df2020;
}
.cart-bottom h6{
    font-size: 1rem;
    color: #fff;
}
.cart-bottom h6 span{
    font-size: 1.3rem;
}
.cart-bottom button{
     padding: 5px 20px;
     background: #fff;
     color: #212245;
     border: none;
     border-radius: 5px;
}
.cart-bottom button a{
    font-weight: 600;
    font-size: 0.9rem;
}
.cart-item{
     padding-bottom:15px;
     border-bottom: 1px solid #fde4e4;
}
.cart-item-info img{
     width:35px;
     height:35px;
     object-fit:cover;
}
.cart-item-title{
    font-size: 0.7rem;
    font-weight: 600;
}
.cart-item-price{
    font-size: 0.8rem;
}
.cart-item-price span{
    font-size: 0.9rem;
    color: #df2020;
    font-weight: 600;
}
.cart-counter-btn{
    background: #fde4e4;
    padding: 3px 5px;
    border-radius: 5px;

}
.increase-btn,.decrease-btn{
    cursor: pointer;
}
.delete-btn{
     font-weight: 600;
     cursor: pointer;
     font-size: 1.1rem;
}